
* {
  box-sizing: border-box;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  height: auto;
}

sup, sub {
  font-size: 50%;
  line-height: 1.2;
}

html, body {
  width:300px;
  height:250px;
  margin: 0;
}

#main{
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background-color: #F9F8F5;
  border: solid 1px #000000;
  overflow:hidden;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: auto;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.copy1{
  /* width: 177px;
  height: 77px;
  position: absolute;
  top: 85px;
  left: 22px; */
  /* clip-path: inset(0 100% 0 0); */
  /* opacity: 0; */
}
.copy1{
  width: 188px;
  height: 29px;
  position: absolute;
  clip-path: inset(0 100% 0 0);
  opacity: 0;
}
#copy1a{
  left: 26px;
  top: 81px;
}
#copy1b{
  left: 26px;
  top: 109px;
}
#copy1c{
  left: 26px;
  top: 136px;
}

.copy2{
  width: 231px;
  height: 20px;
  position: absolute;
  left: 21px;
  clip-path: inset(0 100% 0 0);
  opacity: 0;
}
#copy2a{
  top: 76px;
}
#copy2b{
  top: 96px;
}
#copy2c{
  top: 116px;
}

.copy3{
  width: 128px;
  height: 16px;
  position: absolute;
  left: 20px;
  clip-path: inset(0 100% 0 0);
  opacity: 0;
}
#copy3a{
  top: 193px;
}
#copy3b{
  top: 209px;
}

#square{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 95px;
  height: 117px;
  transform: translate(104px, 66px);
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#logo1{
  position: absolute;
  width: 100px;
  height: 40px;
  right: 18px;
  top: 20px;
  transform-origin: 100% 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#cta{
  position: absolute;
  top: 155px;
  left: 22px;
  width: 125px;
  height: 18px;
  overflow: visible;
}
.ctaText{
  position: absolute;
  left: 0px;
  top: 3px;
  width: 101px;
  height: 12px;
  clip-path: inset(0 100% 0 0);
  opacity: 0;
}
.ctaArrow{
  position: absolute;
  right: 0px;
  top: 5px;
  width: 17px;
  height: 12px;
  transform-origin: center center;
}
.copy {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


svg {
    width: 100%;
    height: auto;
}
#default_exit{
  top:0px;
  left:0px;
  width: 300px;
  height: 250px;
}

.btn{
  position: absolute;
  top:0px;
  left:0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus{outline: 0}

::-moz-focus-inner{border: 0}


/* Logo animation */

.logoBox{
  position: absolute;
  right: 0px;
  top: -8px;
  width: 118px;
  height: 68px;
  /* background: #00000061; */
}
.logoCopy{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 67px;
}
.leafs{
  position: relative;
  top: 0px;
  right: 0px;
  height: 68px;
  width: 100%;
}
.one{
  position: absolute;
  top: 17px;
  right: 11px;
  width: 26.5px;
  scale: 1.5;
  rotate:62deg;
}

.two{
  position: absolute;
  top: 35px;
  right: 34px;
  width: 8.77px;
}
.three{
  position: absolute;
  top: 35px;
  right: 34px;
  width: 9.5px;
}
.four{
  position: absolute;
  top: 35px;
  right: 34px;
  width: 4px;
}
.five{
  position: absolute;
  top: 35px;
  right: 34px;
  width: 3px;
}
.six{
  position: absolute;
  top: 35px;
  right: 34px;
  width: 5px;
}
