
* {
  box-sizing: border-box;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  height: auto;
}

sup, sub {
  font-size: 50%;
  line-height: 1.2;
}

html, body {
  width:300px;
  height:250px;
  margin: 0;
}

#main{
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background-color: #F9F8F5;
  border: solid 1px #000000;
  overflow:hidden;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: auto;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
#copy1{
  width: 177px;
  height: 77px;
  position: absolute;
  top: 85px;
  left: 24px;
}
#copy2{
  width: 215px;
  height: 55px;
  position: absolute;
  top: 78px;
  left: 21px;
}
#square{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 95px;
  height: 117px;
  transform: translate(102px, 66px);
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#cta{
  position: absolute;
  top: 155px;
  left: 22px;
  width: 125px;
  height: 18px;
  overflow: visible;
}
.ctaText{
  position: absolute;
  left: 0px;
  top: 3px;
  width: 101px;
  height: 12px;
}
.ctaArrow{
  position: absolute;
  right: 0px;
  top: 3px;
  width: 17px;
  height: 12px;
  transform-origin: center center;
}
#copy3{
  width: 127px;
  height: 29px;
  top: 195px;
  left: 20px;
}
.copy {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#default_exit{
  top:0px;
  left:0px;
  width: 300px;
  height: 250px;
}

.btn{
  position: absolute;
  top:0px;
  left:0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus{outline: 0}

::-moz-focus-inner{border: 0}
